<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Send Your Current Temperature</h2>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <label>Temperature (°C):</label><br/>
                <input ng-model="name" name="temperature"><br/><br/>

                <label>Wind speed (km/h):</label><br/>
                <input name="wind_speed"><br/><br/>

                <label>Humidity (%):</label><br/>
                <input name="humidity"><br/><br/>

                <label>Probability of precipitation (%):</label><br/>
                <input name="probability_of_precipitation">

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="submit()" style="margin-right:20px;">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>