<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Student Hunter</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./assets/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

  </head>

  <body ng-app="starterApp" layout="column" ng-controller="UserController as ul">

    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1><b>Student Hunter</b> <span ng-show="username">| {{username}}</span></h1>
        <md-button ng-show="username" ng-click="logout()" style="margin-right:20px;">
            Log out
        </md-button>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
          <md-list>
            <md-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                  <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                  {{it.name}}
                </md-button>
            </md-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content" ng-init="ul.selected.id=4">
            <div ng-if="ul.selected.id==1" ng-controller="SendLocationController">
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap style="margin-top: 30px;">
                    <md-button class="md-raised md-primary" style="padding: 12px 50px;width: 100%;background-color: #34bb39;" ng-click="sendLocation($event)">Send Your Location</md-button>
                </section>
                <section>
                    <div id="map_canvas" style="width:100%;height:400px;margin: 30px 0;"></div>
                </section>
            </div>
            <div ng-if="ul.selected.id==2" ng-controller="StudentsLocationController">
                <section>
                    <div id="map_canvas2" style="width:100%;height:500px;margin: 30px 0;"></div>
                </section>
            </div>
            <div ng-if="ul.selected.id==3" ng-controller="TrilaterationController">
                <br/><b>Select student:</b>
                <select ng-options="student as student for student in students"
                        ng-model="selectedStudent"
                        ng-change="selectedStudentChanged()"></select>

                <br/> <br/>

                <b>Legend:</b>
                <ul>
                    <li>blue line - selected student last path</li>
                    <li>red line - probable next path of selected student</li>
                    <li>green line - united all students besides selected</li>
                    <li>yellow circle - accuracy from geolocation data</li>
                    <li>green circle - probable next location of selected student</li>
                </ul>

                <section>
                    <div id="map_canvas3" style="width:100%;height:500px;margin: 30px 0;"></div>
                </section>
            </div>
            <div ng-if="ul.selected.id==4" ng-controller="TemperatureController">
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap style="margin-top: 30px;">
                    <md-button class="md-raised md-primary" style="padding: 12px 50px;width: 100%;background-color: #34bb39;" ng-click="sendLocation($event)">Send Your Current Temperature</md-button>
                </section>
                <section>
                    <div id="map_canvas4" style="width:100%;height:400px;margin: 30px 0;"></div>
                    <h3>
                        Approximately path data:<br/>
                        temperature: {{temperature}} (°C),<br/>
                        wind speed {{windSpeed}} (km/h),<br/>
                        humidity {{humidity}} (%),<br/>
                        probability of precipitation  {{probabilityOfPrecipitation}} (%)
                    </h3>
                </section>
            </div>
        </md-content>

    </div>

    <script src="./assets/angular/angular.js"></script>
    <script src="./assets/angular-animate/angular-animate.js"></script>
    <script src="./assets/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./assets/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="./src/SendLocationController.js"></script>
    <script src="./src/StudentsLocationController.js"></script>
    <script src="./src/TrilaterationController.js"></script>
    <script src="./src/TemperatureController.js"></script>
    <script src="./src/LocationsService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });

    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false" type="text/javascript"></script>
  </body>
</html>
